@font-face {
    font-family: spartan;
    src: url("font\LeagueSpartan-Regular.ttf");
}
*{
    font-family: 'spartan', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #adacac;
}
table{
    width: 100%;
    
}
td{
    /* text-transform: capitalize; */

}
.feedbackviewbtn{
    cursor: pointer;
}
.cartbtnup{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(255, 149, 0);
    color: #efe7e8;
    cursor: pointer;

}
.cartbtndel{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: #efe7e8;
    cursor: pointer;

}
.cartbtnbuy{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(0, 255, 0);
    color: #efe7e8;
    cursor: pointer;
}
.btncs{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(255, 149, 0);
    color: #efe7e8;
    cursor: pointer;
   margin: 15px;
   width: 250px;
   height: 50px;
}
.btncs a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header_fixed{
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th{
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}
th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}
td img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: #edeef1;
}
tr:hover td{
    color: #44b478;
  
    background-color: #ffffff;
}
td button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #efe7e8;

}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
}